<h2>Edit bookmark</h2>

<%= render "form.html", changeset: @changeset, popup: false, tags: @tags,
                        action: Routes.bookmark_path(@conn, :update, @bookmark) %>

<%= link "Back", to: Routes.bookmark_path(@conn, :index) %>
