<div class=main-wrapper>
  <%= for bookmark <- @bookmarks do %>
    <%= if (bookmark.user == @current_user ||  bookmark.private == false) do %>
      <%= render "_bookmark.html", bookmark: bookmark, current_user: @current_user, conn: @conn  %>
    <% end %>
  <% end %>
</div>
