<h2>New bookmark</h2>

<%= render "form.html", changeset: @changeset, popup: false,
                        action: Routes.bookmark_path(@conn, :create), tags: "" %>

<%= link "Back", to: Routes.bookmark_path(@conn, :index) %>
