<h2>New bookmark</h2>

<%= render "form.html", changeset: @changeset, popup: false, tags: @tags,
                        action: Routes.bookmark_path(@conn, :create) %>

<%= link "Back", to: Routes.bookmark_path(@conn, :index) %>
